<h1>ClassNotes#index</h1>
<p>Find me in app/views/class_notes/index.html.erb</p>
<div class="container-main">
  <div class="index_banner d-flex flex-column align-items-center">
    <div class = "class_notes">
    <h1 class="title_library">NOTES</h1>
    </div>
