.domains-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  background-color: #fff4e3;
}
.container-domain h1 {
  color: red;
  position: absolute;
  display: flex;
  background-color: #fff4e3;
  align-items: flex-start;
}
.domain-txt h1{
  color: black ;
  background-color: #fff4e3;
}
.domain-txt{
  background-color: #fff4e3;
}

.container-domain {
  background-color: #fff4e3;
}

.domain_pic {
  border-radius: 50%;
}

.domain_pic :hover {
  filter: brightness(0.6) contrast(1.3);
}

.card-domain {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card-domain img {
  box-shadow: 2px 2px 18px #000;
}

.card-domain :hover {
  color: #E7EAF6;
  text-decoration: underline;
  box-shadow : 0px 0px 15px #113F67;
  bottom: 2px;
}
.card-domain a {
  position: absolute;
  background: transparent;
  padding: 122px;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  color: white;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-shadow: 2px 2px 10px #000;
}

.container-domain {
  position: relative;
  padding: 15vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
