.domains-container {
  overflow: scroll;
  width: 24%;
    height: 74vh;
    padding: 2vw;
    box-shadow: 4px 0px 9px -7px black;
    position: relative;
    -webkit-box-pack: justify;
    align-items: center;
}
.container-domain h1 {
  color: red;
  display: flex;
  align-items: flex-start;
  background-color: #e9ecef;
}
.domain-txt h1{
  color: black ;
  font-weight: 700;
}

.container-domain {
  display: grid;
  background-color: #e9ecef;
    width: 24%;
    height: 74vh;
    padding: 2vw;
    box-shadow: 4px 0px 9px -7px black;
}

.domain_pic {
  border-radius: 50%;
}

.domain_pic :hover {
  filter: brightness(0.6) contrast(1.3);
}

.card-domain {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 10vw;
  background: #F8F8FF;
  border-radius: 5px;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 0px 16px -9px black;
  }
}
.card-domain a {
  color: black;
  padding: 3vw;
  text-decoration: none;
}

.container-domain {
  position: relative;

  justify-content: space-between;
  align-items: center;
}

.domain_txt{
  width: 100%;
  text-align: center;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
