
.title-ban {
  display: block;
  position: absolute;
  color: rgb(240,240,240);
  width: 50%;
  font-weight: bold;
  top: 250px;
  margin-left: 50%;

}
.container-landing{
  position: relative;
}
.signup{
  position: absolute;
  top: 30vh;
  left: 15vw;
}
.signup, h1{
  color: white;
}

.bg_landing img {
  max-width: 100%;
  width:100%;
}

