.container-banner {
  height: 91vh;
  width: 100%;
}

.container-banner img {
  display: block;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.title-ban {
  display: block;
  position: absolute;
  color: rgb(240,240,240);
  width: 50%;
  font-weight: bold;
  top: 250px;
  margin-left: 50%;

}
.container-landing{
  position: relative;
}
.signup{
  position: absolute;
  top: 30vh;
  left: 15vw;
}
.signup, h1{
  color: white;
}

.bg_landing {
  width: 100vw;
}
