// Import page-specific CSS files here.
@import "home";
@import "books";
@import "show";
@import "login";
@import "domain";

.searchbar{
  width: fit-content;
  margin: 0 auto ;
}
.form-inline input{
  margin-right: 12px;
}
