<footer>
  <div class="text-center" id="footer">
    <div class="row mt-3 dark-grey-text">
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <h6 class="text-uppercase font-weight-bold">Library</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
          <a class="dark-grey-text" href="#!">All Books</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Saved Books</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold">News</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="">Latest News</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Saved</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold">Class Notes</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="http://localhost:3000/domains/3/courses">All Notes</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">My Notes</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Upload Note</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h6 class="text-uppercase font-weight-bold">Contact us</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a area href="https://www.google.be/maps/place/Cantersteen+10,+1000+Bruxelles/@50.8453587,4.3550966,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3c47fce0ba71d:0x2f634768a374d3b0!8m2!3d50.8453553!4d4.3572853" target= "_blank">
          <i class="fas fa-home mr-3" ></i> Cantersteen 10, 1000 Brussels, Belgium</p>
        </a>
        <p>
          <a href="mailto:info@knowbook.com?subject=need help"><i class="fas fa-envelope mr-3"></i> info@knowbook.com</a></p>
        <p>
          <i class="fas fa-phone mr-3"></i> +32 476 52 52</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-black-50 py-3">© 2019 Copyright:
    <a class="dark-grey-text" href="#"> Lex-It.com</a>
  </div>
</footer>
