
      <div class="container-landing">
        <div class="bg_landing">
          <%= image_tag("background_image_landing_page.jpeg", alt: "alttext") %>
        </div>
        <div class="signup">
          <%= render "devise/registrations/new" %>
        </div>
        <div class="title-ban">

          <h1><em>Lex-It!</em></h1>
          <br>

          <h3>Every Student's Dream App</h3>
          <br>

          <p>The first <strong>interactive</strong>, <br><strong>connected</strong> <br>and <strong>centralised</strong> App <br>where you will be able to <br>access all your Academic Books, <br>Class Notes and Topic-Related News.</p>
        </div>
      </div>
