<div class="syllabus-container">
  <div class="courses">
    <% @domains.each do |domain| %>
      <div class="card-domain">
        <div class="domain_txt">
          <%= link_to domain.name, domain_path(domain) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="all-notes"></div>
</div>

