<div class="syllabus-container">
  <div class="courses">
    <div class="domain-txt">
      <h1><%= @domain.name %></h1>
    </div>
    <div class="card-domain">
      <div class="domain_txt">
        <%= link_to "Library", domain_books_path(@domain) %>
      </div>
    </div>
    <div class="card-domain">
      <div class="domain_txt">
        <%= link_to "Class Notes", domain_courses_path(@domain) %>
      </div>
    </div>
  </div>
  <div class="all-notes"></div>
  <!-- <div class="card-domain">
    <div class="domain_txt">
      <%#= link_to "News", domain_books_path(@domain) %>
    </div>
  </div> -->
</div>
