<div class="syllabus-container">
  <div class="courses">
    <% @courses.each do |course| %>
      <div class="course-card">
        <%= course.name %> <br>
      </div>
    <% end %>
  </div>

  <div class="all-notes">
    <% @courses.each do |course| %>
      <div class="notes">
        <%= render partial: 'courses/note', locals: { course: course } %>
      </div>
    <% end %>
  </div>
</div>
