.navbar {
  display: flex;
  justify-content: space-between;
  background: #113F67;
  // box-shadow: 0px 3px 10px #FFF;
}

.navbar .navbar-collapse {
  flex-grow: 1;
}

.navbar .navbar-brand img {
  width: 40px;
}

.form-inline{
  justify-content: space-between;
}
.nav-item{
  float: right;
  margin: 0 10px 0 0;
  vertical-align: center ;
}
.avatar{
  display:flex;
  justify-content:flex-end;
}

.form-inputs .form-inline{
  width: 84%;
}
.topnav{
  width: 54vw;
  padding: 10px;

}

.simple_form_for {
  display:flex;
  position: relative;
  justify-content:space-between;
}
