.all-notes {
  overflow: scroll;
  width: 100%;
  position: relative;
  background: #6f9a8d;
  box-shadow: 1px 1px 9px grey;
}

.content a {
  color: white;
  text-decoration: none;
}

.notes {
  position: absolute;
  padding: 1vw;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.active {
  visibility: visible;
  opacity: 1;
}

.note {
  padding: 10px;
  width: 25vw;
  height: 530px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 3fr 2fr;
  margin: 10px;
  background: #E7EAF6;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(10, 10, 10);
}

.note-preview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.note-preview img {
  object-fit: cover;
  position: absolute;
  width: 23vw;
  height: 250px;
}

.note-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.note-author {
  // background: purple;
  padding: 10px;
  display: flex;
  align-items: center;
}

.author-detail {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 3px;

  h3{
    font-size: 2vw;
    margin: 0;
  }
  p{
    font-size: 1vw;
    margin: 0;
  }
}

.note-bottom {
  display: grid;
  grid-gap: 10px;
}
