.all-notes {
  overflow: scroll;
  width: 100%;
  position: relative;
  background: #fff4e3;
  box-shadow: 1px 1px 9px grey;
  background-color: #FFF4E3;
  background-image: asset-url("illustrations/Femme_page1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 150px 150px;
}

.content a {
  color: white;
  text-decoration: none;
}

.notes {
  position: absolute;
  padding: 2vw;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.active {
  visibility: visible;
  opacity: 1;
}

.note {
  padding: 10px;
  width: 25vw;
  height: 420px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 3fr 2fr;
  background-color: rgb(240,240,240);
  margin: 10px;
  background: #fff4e3;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(10, 10, 10);
  max-width: 230px;
}

.note-preview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.note-action {
  padding: 0.5vh 2vw;
  border-radius: 5px;
  font-size: 12px;

  a{
    color: white;
    text-decoration: none;
  }
}

.note-preview img {
  object-fit: cover;
  position: absolute;
  width: 23vw;
  height: 250px;
}

.note-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.note-score {
  font-size: 1.5vw;
  font-weight: 700;
  color: gray;
}

.note-author {
  // background: purple;
  padding: 10px;
  display: flex;
  align-items: center;
}

.author-detail {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 3px;

  h4{
    font-size: 1rem;
  }
  p{
    font-size: 1vw;
    margin: 0;
  }
}

.note-bottom {
  display: grid;
  grid-gap: 10px;
}

.bg-new-note {
  background-color: #fff;
  // background-image: asset-url('banner3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 0;
}
.title-new-note h2{
  color: #3c3c3c;
}
